nav {
    background:white;
    box-shadow: 0px 0px 0px 1px gray;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    color: black;
    position: relative;
    z-index: 99;
  }

  .fas {
    cursor: pointer;
  }
  
  .menu-icon {
    display: none;
    font-size: 20px;
  }
  .menu-icon .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }
  
  .menu-icon .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }
  
  .logo {
    font-weight: 600;
    font-size: 25px;
    color: tomato;
  }
  
  .logo font {
    color: black;
  }
  
  .menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-list li a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  .menu-list li a:hover,
  .menu-list li a.active {
    border-radius: 2px;
    border-bottom: 1px solid blue;
    font-weight: 900;
    transition: all 0.1s ease-in-out;
  }
  .menu-list li .link11{
    letter-spacing: 0;
    padding: 0 0;
    margin-left: 0;
  }

  .menu-list li .link11:hover{
    background-color: white;
    color: black;
  }

  
  @media screen and (max-width: 990px) {
    .logo {
      font-size: 20px;
    }
    .menu-list li a {
      font-size: 14px;
    }
    .menu-icon {
        display: block;
      }
      .menu-list {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        right: 0;
        top: 64px;
        transition: all 0.5s ease-in-out;
      }
      .image-align{
        margin-left: 98%;
      }
      .menu-list li {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
      .menu-list li:last-child {
        margin-bottom: 0px;
      }
      .menu-list li a {
        color: white;
      }
    
      .menu-list li a,
      .menu-list li:last-child a {
        width: 100px;
        display: block;
        margin: auto;
      }
    
      .menu-list.close {
        right: -130%;
        transition: all 0.5s ease-in-out;
      }
  }
  
  @media screen and (max-width: 600px) {
    .menu-icon {
      display: block;
    }
    .menu-list {
      flex-direction: column;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      padding: 20px;
      right: 0;
      top: 64px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-list li {
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }
    .menu-list li:last-child {
      margin-bottom: 0px;
    }
  
    .menu-list li a,
    .menu-list li:last-child a {
      width: 100px;
      display: block;
      margin: auto;
    }
  
    .menu-list.close {
      right: -100%;
      transition: all 0.5s ease-in-out;
    }
  }